root = true

# Unix-style newlines
end_of_line = lf

# 2-space indentation
indent_style = space
indent_size = 2

# Files affected
[*]
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_commas = true
